# ignore build Cabal build files

/Setup
/Setup.hi
/Setup.o
/cabal2nix.cabal
/dist/*
/src/Internal/Version.hs
/test/doctest.hs

# vim tmp files

*.swo
*.swp

# hackage2nix ususally needs those two repositories around

/hackage/*
/nixpkgs/*

# haskell-mode generates files, too

TAGS
